* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Press Start 2P', sans-serif;
}

.gameContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

/* Game Details: Above the Fold */
.gameDetails {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
    padding-top: 20px;
}

.gameDetails h1 {
    font-size: 50px;
    color: #FF8000;
}

.gameDetails p {
    font-size: 18px;
}

/* Game Area */
.gameBG {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

.arenaBG {
    position: relative;
    text-wrap: wrap;
}

#resetBox {
    position: absolute;
    left: 180px;
    bottom: 350px;
    padding: 25px;
    padding-left: 50px;
    padding-right: 50px;
}

#resetBox button {
    background: red;
    padding: 25px;
    color: white;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 600;
    border: 2px solid red;
    border-radius: 8px;
    cursor: pointer;
}

#resetBox button:hover {
    transform: scale(0.95);
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
}

.msgBox {
    border: 5px solid gray;
    text-align: center;
    background-color: black;
    color: white;
    padding: 25px;
    min-width: 750px;
}

.wizLeft {
    position: absolute;
    bottom: 195px;
}

.wizLeftSpell {
    position: absolute;
    padding: 25px;
    left: 150px;
    bottom: 200px;
}

.wizRight {
    position: absolute;
    bottom: 195px;
    right: 30px;
}

.wizRightSpell {
    position: absolute;
    padding: 25px;
    right: 200px;
    bottom: 200px;
}

/* Msg Box */
.msgBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

/* Character HP */
.lifeContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    margin-top: -40px;
    width: 750px;
}

.lifeHearts {
    display: flex;
    justify-content: space-between;
    gap: 300px;
}

/* Button Area */
.buttonArea {
    display: flex;
    justify-content: space-between;
    width: 750px;
    margin-top: 20px;
}

/* Ability Buttons */
#rock {
    background-color: white;
    border: 0;
}

#rock img {
    border-radius: 8px;
    transform: scale(1);
    transition: 0.2s;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

#rock img:hover {
    background-color: #FF8000;
    transform: scale(0.95);
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
}

#paper {
    background-color: white;
    border: 0;
}

#paper img {
    border-radius: 8px;
    transform: scale(1);
    transition: 0.2s;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

#paper img:hover {
    background-color: #18B3FC;
    transform: scale(0.95);
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
}

#scissors {
    background-color: white;
    border: 0;
}

#scissors img {
    border-radius: 8px;
    transform: scale(1);
    transition: 0.2s;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

#scissors img:hover {
    background-color: #656565;
    transform: scale(0.95);
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
}

/* Guide */

.guide {
    border: 5px solid gray;
    background-color: lightsalmon;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-size: 14px;
    padding: 15px;
    margin-top: 20px;
    width: 750px;
    line-height: 1.5rem;
}

.guide h3 {
    text-align: center;
}