* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Press Start 2P', sans-serif;
}

.gameContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

/* Game Details: Above the Fold */
.gameDetails {
    border: 2px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
    padding: 25px;
    /* margin-top: 25px;
    margin-bottom: 25px; */
}

.gameDetails h1 {
    font-size: 50px;
}

.gameDetails p {
    font-size: 18px;
}

/* Game Area */
.gameBG {
    border: 2px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

.arenaBG {
    border: 2px solid red;
    position: relative;
    padding: 25px;
}

.wizLeft {
    position: absolute;
    bottom: 100px;
}

.wizRight {
    position: absolute;
    bottom: 100px;
    right: 30px;
}

.lifeContainer {
    border: 2px solid green;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    width: 50%;
}

.lifeHearts {
    display: flex;
    justify-content: space-between;
    gap: 375px;
}